<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">

	<bean id="form" class="business.engine.Engine">
		<property name="searchEntry" ref="entry" />
	</bean>

	<bean id="persistenceDAO" class="dao.LocationPersistence"
		abstract="true" scope="prototype" />

	<bean id="edbDAO" class="persistence.edbPersistence"
		parent="persistenceDAO" />

	<!-- This part is used only by TestEngine -->
	<bean id="entry" class="business.engine.SearchEntry">
		<property name="budgetMin">
			<value>100</value>
		</property>
		<property name="budgetMax">
			<value>500</value>
		</property>
		<property name="daysOfStay">
			<value>7</value>
		</property>
		<property name="difficultyPreference">
			<value>2</value>
		</property>
		<property name="locationPreference">
			<value>Historical</value>
		</property>
	</bean>

	<bean id="transport" class="business.client.AbstractTransport"
		abstract="true" scope="prototype" />

	<bean id="boat" class="business.model.transport.Boat"
		parent="transport" />
	<bean id="bus" class="business.model.transport.Bus"
		parent="transport" />
	<bean id="onFoot" class="business.model.transport.OnFoot"
		parent="transport" />

</beans>