<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd" xmlns:context="http://www.springframework.org/schema/context">

	<bean id="persistenceDAO" class="dao.LocationPersistence" abstract="true" scope="prototype" />

	<bean id="edbDAO" class="persistence.EDBLocationPersistence" parent="persistenceDAO" />

	<bean id="entry" class="business.engine.SearchEntry">
		<property name="budgetMin">
			<value>0</value>
		</property>
		<property name="budgetMax">
			<value>800</value>
		</property>
		<property name="comfortPreference">
			<value>2</value>
		</property>
		<property name="daysOfStay">
			<value>4</value>
		</property>
	</bean>

	<bean id="location" class="business.model.location.AbstractLocation" abstract="true" scope="prototype" />

	<bean id="hotel" class="business.model.location.Hotel" parent="location" />

	<bean id="cheapHotel" class="business.model.location.Hotel" parent="location">
		<property name="name">
			<value>1 start hotel</value>
		</property>
		<property name="pricePerNight">
			<value>30</value>
		</property>
	</bean>

	<bean id="expensiveHotel" class="business.model.location.Hotel" parent="location">
		<property name="name">
			<value>Palace</value>
		</property>
		<property name="pricePerNight">
			<value>300</value>
		</property>
	</bean>

	<bean id="site" class="business.model.location.Site" parent="location" />

	<bean id="historySite" class="business.model.location.Site" parent="location">
		<property name="island">
			<value>Crete</value>
		</property>
		<property name="comfort">
			<value>2</value>
		</property>
		<property name="pricePerVisit">
			<value>10</value>
		</property>
	</bean>

	<bean id="easyLeasureSite" class="business.model.location.Site" parent="location">
		<property name="name">
			<value>Heraklion beach</value>
		</property>
		<property name="island">
			<value>Crete</value>
		</property>
		<property name="comfort">
			<value>3</value>
		</property>
		<property name="pricePerVisit">
			<value>0</value>
		</property>
	</bean>

	<bean id="difficultLeasureSite" class="business.model.location.Site" parent="location">
		<property name="name">
			<value>Rock climbing</value>
		</property>
		<property name="island">
			<value>Crete</value>
		</property>
		<property name="comfort">
			<value>1</value>
		</property>
		<property name="pricePerVisit">
			<value>20</value>
		</property>
	</bean>


	<bean id="transport" class="business.model.transport.Transport" scope="prototype" />

	<bean id="boat" class="business.model.transport.Boat" parent="transport">
		<property name="type">
			<value>boat</value>
		</property>
		<property name="price">
			<value>39</value>
		</property>
		<property name="speed">
			<value>30</value>
		</property>
		<property name="confort">
			<value>2</value>
		</property>
	</bean>
	<bean id="bus" class="business.model.transport.Bus" parent="transport">
		<property name="type">
			<value>bus</value>
		</property>
		<property name="price">
			<value>30</value>
		</property>
		<property name="speed">
			<value>60</value>
		</property>
		<property name="confort">
			<value>1</value>
		</property>
	</bean>
	<bean id="onFoot" class="business.model.transport.OnFoot" parent="transport">
		<property name="type">
			<value>walk</value>
		</property>
		<property name="price">
			<value>0</value>
		</property>
		<property name="speed">
			<value>5</value>
		</property>
		<property name="confort">
			<value>0</value>
		</property>
	</bean>

</beans>